version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: food-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./infra/mysql/init:/docker-entrypoint-initdb.d
    networks:
      - food-net

  zookeeper:
    image: zookeeper:latest
    container_name: food-zookeeper
    environment:
      ZOO_CFG_EXTRA: "metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider metricsProvider.httpPort=7070"
    ports:
      - "2181:2181"
    networks:
      - food-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: food-kafka
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    networks:
      - food-net

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - food-net

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server
    networks:
      - food-net

  user-service:
    build: ./user-service
    container_name: user-service
    depends_on:
      - mysql
      - eureka-server
      - kafka
    networks:
      - food-net

  restaurant-service:
    build: ./restaurant-service
    container_name: restaurant-service
    depends_on:
      - mysql
      - eureka-server
    networks:
      - food-net

  order-service:
    build: ./order-service
    container_name: order-service
    depends_on:
      - mysql
      - eureka-server
      - kafka
    networks:
      - food-net

  payment-service:
    build: ./payment-service
    container_name: payment-service
    depends_on:
      - mysql
      - eureka-server
      - kafka
    networks:
      - food-net

  delivery-service:
    build: ./delivery-service
    container_name: delivery-service
    depends_on:
      - mysql
      - eureka-server
      - kafka
    networks:
      - food-net

  notification-service:
    build: ./notification-service
    container_name: notification-service
    depends_on:
      - kafka
      - eureka-server
    networks:
      - food-net

networks:
  food-net:
    driver: bridge

volumes:
  mysql_data:

